* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    border-radius: 5px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background: linear-gradient(45deg, #77A1D3, #79CBCA, #E684AE);

}
a{
    text-decoration: none;
}
.page_width {
    width: 90vw;
}
.head_wrap {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 30px;
    perspective: 800px;
}

.up {
    width: 90vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.up .title {
    width: 30%;
    height: 40px;
    font-size: 2em;
    font-weight: bold;
    color: #1d28c2;
    border-bottom: 2px solid #1d28c2;
    padding: 5px;
}

.up .location {
    font-size: 12px;
}

.down {
    width: 90vw;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.banner{
    width: calc(790px * 0.8);
    height: calc(395px * 0.8);
    overflow: hidden;
    position: relative;
}
.banner ul{
    width: 500%;/*5张图片的宽度，也可以写成500%*/
    height: 100%;
    position: absolute;
}
.banner li{
    list-style-type: none;
    float: left;
    width: 20%;
    height: 100%;
}
/*如果图片大小有问题*/
.banner img{
    width: 100%;
    height: 100%;
}
.banner .num{
    width: 100%;
    height: 20px;
    font-size: 0px;
    position: absolute;
    left: 0;
    bottom: 10px;
    text-align: center;
}
.banner .num span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 8px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
}
/*向左向右箭头*/
.banner .prev{
    display: block;
    width: 40px;
    height: 74px;
    background-color: rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.4);
    position: absolute;
    top: 50%;
    margin-top: -37px;
    left: 0;
    text-align: center;
    transition: background-color .3s;
}
.banner .next{
    display: block;
    width: 40px;
    height: 74px;
    background-color: rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.4);
    position: absolute;
    top: 50%;
    margin-top: -37px;
    right: 0;
    text-align: center;
    transition: background-color .3s;
}
.banner .prev i,
.banner .next i{
    font-size: 30px;
    line-height: 74px;
    transition: background-color .3s;
}
.banner .prev:hover,
.banner .next:hover{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}
.banner .num span:hover{
    background-color: #ccc;
}
.banner .num span.on{
    background-color: aqua;
}
.down .content {
    width: 40%;
    height: 120px;
    padding: 5px;
    text-indent: 2em;
    letter-spacing: 1px;
    font-size: 14px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    background-color: #f5f6fa;
    position: relative;
    border-radius: 15px;
    background: linear-gradient(45deg, #77A1D3, #79CBCA, #E684AE);
}
.nav {
    margin-bottom: 10px;
    top: 0;
}

#nav_bar {
    list-style: none;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-radius: 15px;
    padding: 5px 0;
    background-color: #747d8c;
    position: relative;
    z-index: 0;
}

.slideBlock {
    width: 100px;
    height: 50px;
    position: absolute;
    left: calc(85px - 100px*0.5 + 32px*0.5);
    background-image: linear-gradient(80deg,#aa00ff,#E684AE);
    border-radius: 8px;
    z-index: -1;
    /* opacity: .9; */
}

#nav_bar li a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: #000;
    z-index: 2;
}

#nav_bar li a span {
    display: block;
    width: 20px;
    height: 20px;

}

/* main样式 */
.main>div {
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}

.item {
    width: 20%;
    height: 300px;
    padding: 20px;
    margin-right: 15px;
    background-color: #f5f6fa;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transition:.3s ease-in-out;
}
.item:nth-child(4n+1){
    margin-left:calc((1382.4px - 316.48px * 4 - 20px)/4) ;
}
.item:hover{
    box-shadow: 5px 5px 8px#bdbdbd, -5px 5px 15px#bdbdbd;
}

.item .hot {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: -8px;
}

.item .image {
    width: 90%;
    height: 150px;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    top:35px;
    transition: .8s;
}
.item .des{
    width: 80%;
    text-align: center;
    height: 25px;
    position: absolute;
    bottom: calc(320px - 252px);
    transition: .6s;
}
