*{
    margin: 0;
    padding: 0;
}
/*全局样式*/
img{
    width: 100%;
    border-radius: 5px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.active{
    color: #00a1d6;
}
.page_width{
    width: 90vw;
}
.border{
    border: 1px solid #000;
}
/*上半部分样式*/
.head_wrap{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 30px;
    perspective: 800px;
}
.up{
    width: 90vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.up .title{
    width: 30%;
    height: 40px;
    font-size: 2em;
    font-weight: bold;
    color: #1d28c2;
    border-bottom: 2px solid #1d28c2;
    padding: 5px;
}
.up .location{
    font-size: 12px;
}
.down{
    width: 90vw;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.down .slideshow{
    width: 42%;
    height: 100%;
}
.down .content{
    width: 20%;
    text-indent: 2px;
    letter-spacing: 2px;
}
/*导航条样式*/
.nav{
    margin-bottom: 10px;
    position: relative;
    top: 0;
}
#nav_bar{
    list-style: none;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-bottom: 5px solid #CCC;
}
#nav_bar li a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: #000;
}
#nav_bar li a span{
    display: block;
    width: 20px;
    height: 20px;

}
/* main样式 */
.main > div{
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}
.item{
    width: 28%;
    height: 300px;
    padding: 10px;
    margin-right: 30px;
    /* background: linear-gradient(45deg, #9796f0, #fbc7d4); */
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.item .hot{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: -8px;
}
.item .image{
    width: 90%;
    height: 150px;
    border-radius: 15px;
    overflow: hidden;
}
